html{
    box-sizing: border-box;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
}
*, *::before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    background-color: #f3f2f4 ;
    color: black;

}
.navi {
    display: flex;
    height: 60px;
    /* border: 5px solid pink; */
    align-items: stretch;
    position: fixed;
    /* opacity: 0.7; */
    width: 100%;
    z-index: 5;
    
}
.navi ul {
    display: flex;
    background: rgba(103, 103, 103,0.3) ;
    list-style: none;
    width: 100vh;
    align-items: center;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 700px){
    3navi ul {
        flex-direction: column;
    }
}
.navi a {
    color: rgb(247, 247, 239);
    text-decoration: none;
    display: block;
    transition: background .1s;
}
.navi a:hover {
    background: #797979;
}
li.icons {

    font-size: 30px;
}
li.navilinks {
    font-weight: bold;
    font-size: 1.25rem;
    padding: 0 10px 0 10px;
}
ul.navi-text {
    display: flex;
    justify-content: flex-end;
    flex: 6;
    /* border: 5px solid green; */
}
ul.social-icons {
    flex: 1;
    /* border: 5px solid gold; */
    justify-content: space-evenly;
    
    
}
.image {
    /* position: relative; */
    display: flex;
    text-align: end;
}
h1 { 
    position: absolute; 
    top: 70px;
    right: 100px;
    width: 100%; 
    font-family: 'Lato', sans-serif;
 }
 
 /* sekcja about */
 /* containerem będzie article o id about */
 #about {
     /* border: 10px solid gold; */
 }
 .person-info {
     display: flex;
     justify-content: center;
 }
 #personal-data {
     flex: 1;
     text-align: left;
     padding: 50px 50px 50px 150px;
     
 }
 
 #personal-description {
     flex: 2;
     padding: 50px;
     border-left: 3px dashed black;

 }
  h3{
     display: block;
     text-align: center;
     letter-spacing: 2px;
     font-size: 1.5em;
     padding: 10px;
     background: lightgray;
     margin: 0;
 }

 /* Sekcja technology */
 #containter-techno {
     display: flex;
     
     
 }
 #containter-techno > :first-child {
     background:#F16528;
 }
 #containter-techno > :nth-child(2) {
    background:#33adff;
 }
 #containter-techno > :nth-child(3) {
    background:#ffff00;
 }
 #containter-techno > :nth-child(4) {
    background:#47d147;
 }
 #containter-techno > :last-child{
    background:#e600ac;
 }
 .techno {
     flex: 1;
     text-align: center;
     padding-top: 15px;
     margin: 20px 12px;
     transition: transform 0.3s ease ;
     
 }
  .techno:hover {
     /* background:black ; */
    
     cursor: pointer;
     transform: scale(1.2);

 }

div.techno > i {
    font-size: 80px;
}
.techno > p:nth-child(2) {
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 1.2em;
}
.techno > p:last-child {
    font-weight: 700;
}
/* sekcja portfolio */
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}
.gallery{
    /* margin: 20px; */
}
.overlay {
    position: relative;
}
.overlay .link-gallery {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #111;
    height: 60px;
    left: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0;
    transition: 0.3s;
    transform: translateY(100%);
    color: rgb(247, 247, 239);
    font-weight: 700;

}
.overlay:hover .link-gallery {
    opacity: 0.8;
    transform: translateY(0);
}
/* Sekcja adress/contact */

.adress-container {
    display: flex;

}
.adress-info, .adress-form {
    flex: 1;
}