html{
    box-sizing: border-box;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}
*, *::before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    background-color:  #E4E4E2 ;
    color: #1F2020;

}
h3{
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    font-size: 1.5em;
    padding: 10px;
    background:#555;
    color: #F9F6EF;
    margin: 0;
}

/* Sekcja nawigacyjna */

.navi {
    display: flex;
    height: 3.53em;
    position: fixed;
    width: 100%;
    z-index: 2;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
     0 2px 10px 0 rgba(0,0,0,0.12);
}

.navi ul {
    display: flex;
    background: rgba(103, 103, 103,0.3) ;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navi a {
    color: rgb(247, 247, 239);
    text-decoration: none;
    display: block;
    transition: background .1s;
    padding: 15px;
    
}

.navi li:hover {
    background: #797979;
    opacity: 0.9;
}

li.icons {
    font-size: 30px;
}

li.navilinks {
    font-weight: bold;
    font-size: 1.25em;
    padding: 0 10px 0 10px;
}

ul.navi-text {
    justify-content: flex-end;
    flex: 6;
}

ul.social-icons {
    flex: 1;
    justify-content: space-evenly;
}

.image {
    display: flex;
    text-align: end;

}

.image img {
   max-width: 100%;
   height: auto;
}

h1 { 
   position: absolute;
   top: 30%;
   left: 70%;
   color:#F9F6EF ;
 }
 
 /* sekcja about */
 

 #about {
     width: 100%;
 }

 #about h3 {
     background:#E4E4E2;
     color: #1F2020;
 }

 .person-info {
     display: flex;
     justify-content: center;
 }

 #personal-data {
     flex: 1;
     text-align: left;
     padding: 2.94em 2.94em 2.94em 8.82em;
 }
 
 #personal-description {
     display: flex;
     flex: 2;
     margin: 2.94em;
     padding: 0 2.94em 0 2.94em;
     border-left: 3px dashed #1F2020;
     text-align: justify;
     font-size: 1.2em;
     word-wrap: break-word;
     hyphens: auto;
     overflow: auto;
     max-height: 17.5em;
 }
 

 /* Sekcja technology */

 #technology {
     background: #555;
 }
 
 
 #container-techno {
     display: flex;
     width: 100%;
 }
 #container-techno > :first-child {
     background:#F16528;
 }
 #container-techno > :nth-child(2) {
    background:#33adff;
 }
 #container-techno > :nth-child(3) {
    background:#d6c912;
 }
 #container-techno > :nth-child(4) {
    background:#47d147;
 }
#container-techno > :last-child{
    background:#e600ac;
 }

.techno {
     flex: 1;
     text-align: center;
     padding-top: 15px;
     margin: 20px 12px;
     transition: transform 0.3s ease ;
 }

.techno:hover {
     cursor: pointer;
     transform: scale(1.2);
 }

div.techno > i {
    font-size: 80px;
}

.techno > p:nth-child(2) {
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 1.2em;
}

.techno > p:last-child {
    font-weight: 700;
}


/* sekcja portfolio */


#portfolio h3 {
    background: #E4E4E2;
    color:#1F2020 ;
    padding-bottom: 15px;
}
.gallery img {
    width: 380px;
    height: 300px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.overlay {
    position: relative;
}

.overlay .link-gallery {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #1F2020;
    height: 60px;
    left: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0;
    transition: 0.3s;
    transform: translateY(100%);
    color: #F9F6EF;
    font-weight: 700;
}

.overlay:hover .link-gallery {
    opacity: 0.8;
    transform: translateY(0);
}

/* Sekcja adress/contact */

.adress-container {
    display: flex;
    width: 100%;
    background-color: #555;
    color: #F9F6EF;
}

.adress-info, .adress-form {
    flex: 1;
}    

.adress-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
}

address {
    font-size: 1.3em;
    line-height: 1.5em;
}

/* Sekcja input formularza */

form {
   display: flex;
   flex-direction: column;
   padding-right: 30px;
}

form p {
   border:  1px solid #4b4b4c;
}

form p input {
   width: 100%;
   border: none;
   font-size: 16px;
   padding: 10px;
}

form p:last-child {
    border: none;
}

#submit {
    padding: 10px;
    border: none;
    color: #F9F6EF;
    background: black;
}

#submit:hover {
    color: #555;
    cursor: pointer;
}

/* Sekcja footer */

footer {
    display: flex;
    background: #E4E4E2;
    font-weight: 700;
    justify-content: center;
}
@media screen and (max-width: 50em){
    .navi, .person-info, #container-techno {
        flex-direction: column;
    }
}
@media screen and (max-width: 540px) {
    .navi {
        position: relative;
    }
    .navi-text {
        flex-direction: column;
    }
}
@media screen and (max-width: 480px) {
    .social-icons {
        flex-direction: column;
    }
}